.container__modal__tarjeta {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);  
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__modal__form {
    width: 1080px;
    height: 700px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: #fcfcfd;
    box-shadow:
        0 1px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.04);
}

.container__modal__form header {
    width: 100%;
    height: auto;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
}

.container__modal__form header span {
    color: var(--text__Blue);
    font-size: 17px;
    font-weight: 700;
    text-align: center;
}

.options__form_modal {
    gap: 20px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options__form_modal svg {
    cursor: pointer;
    transition: .3s ease-in-out;
}

/* Main - INFO - MODAL - ADD CARD */
.info__modal__form {
    width: 100%;
    height: 100%;
    display: flex;
}

/* Container - Form - Modal */
.container__form {
    width: 100%;
    max-width: 50%;
    height: auto;
    padding: 50px 20px 20px 20px;
    border: 1px solid black;
}

.container__description__form {
    width: 100%;
    max-width: 50%;
    height: auto;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.container__description__form img {
    width: 350px;
    height: 200px;
    object-fit: cover;
}

.description__form {
    width: 100%;
    height: auto;
}

.description__form h6 {
    color: #242528;
    font-size: 16px;
    font-weight: 600;
    text-align: start;
    margin: 0px 0px 8px;
}

.description__form h2 {
    color: #0866FF;
    font-size: 32px;
    font-weight: 600;
    text-align: start;
    margin: 0px 0px 10px;
}

.description__form p {
    color: #242528;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    margin: 0px 0px 15px;
}