.card__comments {
    gap: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
}

.user__comment {
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background-color: #EC9A29;
}

.description__user {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.description__user span {
    color: #242528;
    font-size: 14px;
    font-weight: 600;
    text-align: start;
    margin: 0px 0px 3px;
}

.comment {
    width: 100%;
    height: auto;
    margin: 0px 0px 7px;
}

.comment p {
    color: #242528;
    font-size: 14px;
    font-weight: 500;
    text-align: start;
}

.comment input {
    width: 100%;
    color: #242528;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 10px;
    text-align: start;
    outline: none;
    border: 1px solid #ccc;
    border-radius: .5rem;
}

.comment_edit {
    gap: 20px;
    width: 100%;
    height: auto;
    display: flex;
}

.comment_edit button {
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    border: none;
    transition: .3s ease-in-out;
}

.btn__comment_blue {
    color: var(--text__Blue);
}

.btn__comment__red {
    color: #EF233C;
}