@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

html, body, #root {
  height: 100%;
  font-family: var(--font__Family);
  background-color: var(--background__Black);
  overflow: hidden;
}

:root {
    --text: #242528;
    --text__Black: #1F1F21;
    --text__White: #f2f2f2;
    --text__Gray: #A9ABAF;
    --text__Blue: #0866FF;
    --background__Black: #1F1F21;
    --background__White: #f2f2f2;
    --border__Radius: .5rem;
    --font__Family: "Onest";
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.app__main {
  flex: 1 1 auto;
  min-height: 0;
}