@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

html, body {
  height: 100%;
  overflow: hidden;
  font-family: var(--font__Family);
  background-color: var(--background__Black);
}

:root {
    height: 100%;
    --text__Black: #1F1F21;
    --text__White: #f2f2f2;
    --text__Gray: #A9ABAF;
    --text__Blue: #0866FF;
    --background__Black: #1F1F21;
    --background__White: #f2f2f2;
    --border__Radius: .5rem;
    --font__Family: "Onest";
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
  height: 100%;      
  min-height: 0;     
  display: flex;
  flex-direction: column;
  overflow: hidden;  
}

.app__main {
  flex: 1;
  min-height: 0;
  display: flex;
  overflow: hidden;  
}